@{
    ViewBag.Title = "Confirm Email";
    Layout = "_LayoutNull.cshtml";
}

<div class="homePage">
    <div class="homePage_back catalog-grid">
        <div class="homePage_text create-item">
            <section class="loginForm">
                <hgroup class="title">
                    <h1>@ViewBag.Title</h1>
                </hgroup>
                <div>
                    <p>
                        Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { style = "display:inline" })
                    </p>
                </div>
            </section>
        </div>
    </div>
</div>

