@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "_LayoutNull.cshtml";
}

<div class="homePage">
    <div class="homePage_back catalog-grid">
        <div class="homePage_text create-item">
            <section class="loginForm row">
                <hgroup class="title">
                    <h1>@ViewBag.Title</h1>
                </hgroup>
                <div>
                    <p>
                        If your Email registered in the system you will receive mail to reset your password.
                        <br />
                        Please check your email.
                    </p>
                </div>
                <div style="margin-top:20px;">
                    <a href="@Url.Action("ForgotPassword", "Account")" class="k-button">Return back</a>
                </div>
            </section>
        </div>
    </div>
</div>



