@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "_LayoutNull.cshtml";
}

<div class="homePage">
    <div class="homePage_back catalog-grid">
        <div class="homePage_text create-item">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            <div>
                <p>
                    Your password has been reset.
                    Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new {style = "display: inline" })
                </p>
            </div>
        </div>
    </div>
</div>

