.k-grid tbody .k-button {
    min-width: 45px !important;
}
a.k-button:hover, a.k-button:focus {
    border-color: #dbdbdb;
}
.create-fieldset {
  border-top: 2px solid #F39C12;
  padding: 20px;
}

.create-fieldset legend {
  border: none;
  width: auto;
  color: #F39C12;
  font-size: 18px;
  padding: 0 10px;
  margin: 0 auto 0 0;
}

.create-item .input-item {
  width: 100% !important;
}

.create-item .form-group {
  margin-bottom: 5px;
}

.create-item h3 {
    font-family: Tahoma !important;
    font-weight:normal;
    border-bottom: 1px solid #F39C12;
    padding:5px 0;
    font-size: 16px;
    color:#F39C12;
    margin: 5px 15px;
}

.create-item label {
    font-weight: normal;
    font-size:13px;
}

.create-item p {
    margin:0;
}

.create-item input[type="radio"], .create-item input[type="checkbox"] {
    margin: 8px 0 0;
}

.Title {
    color:#fff;
    display: inline-block;
    font-size: 20px;
    padding-top: 10px
}
.Show_Icon a{
    /*display:block;
    border:1px solid #dbdbdb;
    text-align:center;
    width: 45px;
    padding: 5px;*/
}

/*.create-item span.input-item{
    border-bottom: 1px solid #dbdbdb !important;
 }*/

/*Layout*/
/*Loader*/
/* Loader */
html > /**/ body .loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: rgba(255,255,255, 1.0);
}

.loader p{
    position: absolute;
    top: 50%;
    left: 50%;
    color: chocolate;
    font-size:16px;
    margin: -5px 0 0 -50px;
}

/*Home Page*/
.homePage {
    background-image: url('../img/home-back2.jpg');
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;
}

.homePage > div.homePage_back {
    background-color: rgba(255, 255, 255, 0.5);
    position:relative;
}

.homePage h2 {
    margin:0;
}

.homePage .homePage_text {
    max-width:650px; 
    position:absolute;
    left: 0; 
    right: 0;
    margin: 30px auto; 
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    overflow-y: auto;
}

.homePage p {
    color: #888;
    font-size: 18px;
}

.orange {
    color: #F39C12;
}

/*Footer*/
.footer-copy a, .footer-copy span  {
    color: #777 !important;
}

/*Login Footer*/

.login-footer {
    background: #fff;
    padding: 15px;
    color: #444;
    border-top: 1px solid #d2d6de;
}


/*Login*/
#logoutForm {
    padding: 0;
}

.loginForm {

}

#loginLink, #userLink, #logoutLink, #registerLink {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    float: right;
    padding: 15px;
    width: inherit;
}

#loginLink:hover, #registerLink:hover, #userLink:hover, #logoutLink:hover {
    color: #777777;
}


/* PopUp Tables*/
.k-window fieldset > table > tbody > tr > td:nth-child(1) {
        text-align: right;
        font-weight: bold;
        width: 30%;
    }

.k-window .glyphicon-ok {
        color: #7EA700;
    }

.k-window .glyphicon-minus {
        color: crimson;
    }

.k-window fieldset > table > tbody > tr > td.single-td {
        text-align: left;
        font-weight: normal;
        width: 100%;
    }

.k-window .td-second-table {
        padding: 0 !important;
        text-align: left;
        font-weight: normal;
    }

.k-window .td-second-table table {
        margin: 0;
    }


/* Validation Message Design*/
/*.border-box .form-group{
    position:relative;
}*/

/*.vldmsg {
    display:inline-block;
    border-radius:5px;
    
    color: #fff;
    background-color: rgba(194, 56, 36, 0.8);
    position:absolute;
    right:0;
    top: 108%;
    z-index: 1000;
    text-align:right;
}

.vldmsg span {
    display:block;
    padding: 2px 4px;
    position:relative;
}

.vldmsg span:after {
    content:'';
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    margin:0 auto;
    width: 0;
    height: 0;
    border-bottom: solid 10px rgba(194, 56, 36, 0.8);
    border-left: solid 8px transparent;
    border-right: solid 8px transparent;
}

.vldmsg span i {
    display:block;
    float:left;
    padding:3px;
}*/



/*Right-slidePanel*/
.for-Toolbar {
    position:relative;
}

.right-slidePanel{
    position:absolute;
    top:8px;
    right:-225px;
    z-index:1000;
}

.right-slidePanel .slidePanel-Content{
    background-color:rgba(100, 100, 100, 0.8);
    width:220px; 
    position:relative;

}

.right-slidePanel .slidePanel-btn{
    height:30px;
    width:30px;
    position:absolute;
    top:0;
    left:-40px;
    background-color:#fff;
    border:1px solid #dbdbdb;
    font-size:18px;
    padding:3px 0 0 4px;
    color:#898989;
    cursor:pointer;
}

.right-slidePanel .slidePanel-btn:hover{
    background-color:#F39C12;
    color:#fff;
}

.right-slidePanel .slidePanel-Content-fields {
    padding:10px;
    min-height:150px;
    max-height:500px;
    overflow-y: auto;
}

.right-slidePanel .slidePanel-Content-fields h4 {
    margin:0;
    color:#fff;
    font-size:16px;
    text-align:center;
    border-bottom:1px solid #fff;
    padding-bottom:3px;
}

.right-slidePanel .slidePanel-Content-fields label{
    color:#fff;
}

.loginForm a:hover {
    color: #3c8dbc;
    text-decoration: underline;
}


.ToolbarSeparator {
    font-size:35px;
    display:inline-block;
    margin:0 5px;
    color:#F39C12;
}

.ToolbarIcon {
    border: 1px solid rgba(255, 255, 255, 0);
    display: inline-block;
    padding: 3px 5px 5px 5px;
}

.ToolbarIcon:hover {
    border: 1px solid #F39C12;
    background-color: #c0c0c0;
    cursor:pointer;
}

/*Details*/
.detailsTable tr td{
    width:50%;
}
.detailsTable tr td:first-child {
    text-align:right;
    font-weight:bold;
}





