
@{
    ViewBag.Title = "Under Construction";
}

<div class="homePage">
    <div class="homePage_back catalog-grid">
        <div class="homePage_text create-item">
            <section class="loginForm row">
                <hgroup class="title">
                    <h1>@ViewBag.Title</h1>
                </hgroup>
                <div>
                    <p>
                        This page is under construction.
                    </p>
                </div>
            </section>
        </div>
    </div>
</div>